{% extends "cobook/base.html" %}
{% block content %}
      <h1 style="margin-bottom: 50px;">book</h1>

      <div class="row">
        <form class="form-horizontal">
        <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Text Input</label>
          <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
          <span class="help-block">help</span>
          </div>
        </div>

        </fieldset>
        </form>

      </div>
{% endblock %}
