{% extends "cobook/base.html" %}
{% load static %}
{% block content %}
      <h1 style="margin-bottom: 50px;">Available Coworking Spaces</h1>
      <div class="row">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            Sort by Area Code &nbsp;&nbsp;
            <label for="pin" class="sr-only">Sort by your area pincode</label>
            <input type="password" class="form-control" id="pin" name="pin"placeholder="Pincode">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Confirm Pincode</button>
        </form>
      </div>
      <br>
      <div class="row">
        {% for cowork in coworks %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="{% static 'cobook/office.jpg' %}" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
            <div class="card-body">
              <p><b>{{cowork.name}}</b></p>
              <!-- <p class="card-text">Booking Timings: 9am to 5pm </p> -->
              <p class="card-text">Available Meeting Rooms: {{cowork.capacity}} </p>
              <p class="card-text">Zipcode: {{cowork.zipcode}} </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'rooms' cowork.id %}"> <button type="button" class="btn btn-sm btn-outline-secondary">View Rooms</button> </a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <small class="text-muted">Available</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      </div>
{% endblock %}
